.emailContent{
    /* animation: fadeIn 1s; */
    box-shadow: -10px -2px 20px rgba(0,0,0,0.15);
    margin: 0 0 0 1vh;
    padding: 0 0 3vh 0;
}
.dontDisplay{
  display: none !important;
}
.emailMetaData{
  color: #003862;
  margin: 0 1em 1em 1em;
  display: flex;
}
.icons{
  margin-left: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width:18%;
}
.replyAll{
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 0.5em;
}
.replyAll i:hover{
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #003862;
  color: transparent;
}
.attachmentIcon{
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 0.5em;
}
.attachmentsContainer{
  padding: 1em 1em;
}
.emailContent .emailHeader img{
    width: 70px;
    height: 70px;
}
.emailContent  .emailHeader{
    color: #003862;
}
.emailContent  .emailHeader h1{
    font-size: 33px;
    font-weight: bold;
    margin: 0 0 0 25px;
}
.emailContent iframe{
  overflow:hidden;
  overflow-x:hidden;
  overflow-y: hidden;
  width:100%;
  height: 75vh;
}
.smallFrame{
  height: 34em;
}
.largeFrame{
  height: 45em;
}
/* .iframeContainer{
  height: auto;
} */
.commentIcon{
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}
.commentIcon span{
  position: relative;
  right: 57%;
  color: white;
  bottom: 0.2em;
}

.isInvisible{
  display: none;
}
.showingComments i{
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #003862;
  color: transparent;
}
.showingComments span{
  color: #003862;
}
.fa-comments{
  font-size: 2.5em;
}

@keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

@-moz-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

@-webkit-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

@-o-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

@-ms-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}
