.submitBtn{
    outline: none;
    border: none;
    padding: 15px 18px;
    color: #fff;
    border-radius: 50%;
    background: #FF8B88;
    position: relative;
    bottom: 3vh;
    right: 8vh;
    box-shadow: 4px 4px 10px rgba(0,0,0,0.3);
    cursor: pointer;
}
.commentForm{
    padding: 0 0 0 30px;
    display: inline-block;
}
input:focus, textarea:focus, select:focus{
    outline: none;
}
.textArea{
    width: 30vh;
    height:15vh;
    border: none;
    margin: 15px;
}
.control{
    border-radius: 20px;
    box-shadow: 2px 4px 20px rgba(0, 0, 0, 0.4)
}
.field{
    display: inline-block;
}