.emailContainerHeader{
    width: 100%;
    height: 9vh;
    padding: 2vh 40px;
    box-shadow: 3px 4px 8px rgba(0,0,0,0.1);
    margin: 0 0 0.5vh 0;
}
.emailSearch{
    background: rgba(0,0,0,0.07);
    width: 30%;
    padding: 5px 15px;
    border: none;
    border-radius: 100px;
    outline: none;
}
.emailSearch::placeholder{
    font-family: 'Poppins' , FontAwesome;
}
/* .headerRightElements{ background: #FF8B88;} */
.headerRightElements .element {
    margin: auto 15px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    font-weight: bold;
    cursor: pointer;
}
.headerRightElements .userAvatar{
    background: #FF8B88;
    color: #fff;
    font-size: 18px;
}
.headerRightElements .refreshBtn{
    font-family: 'Poppins' , FontAwesome;
}
.headerRightElements .refreshBtn:hover{
    background: rgba(0,0,0,0.07);
}