.primary-background{
    background-color: #dff1f1;
}
.secondary-icon-style{
    color: #fff8f6;
    background-color: #003862;
}
.button {
    font-family: 'Poppins';
    font-weight: bold;
}
.button:hover {
    color:blue;
    background-color: white;;
}

*{
    font-size: 100%;
}
h1{
    font-size: 101%;
}
.flex{display: flex;}
.justify-end{justify-content: flex-end;}
.justify-between{justify-content: space-between;}
.justify-center{justify-content: center;}
.align-center{align-items: center;}
.justify-around{justify-content: space-around;}

.emailContainer{
    max-height: 100vh !important;
    margin-left: 20vw;
}

#newEmail{
    width: 0.5em;
    height: 0.5em;
    background: red;
    border-radius: 50%;
    position: relative;
    right: 1.7em;
    top: .2em;
}

.normalFont{
    font-weight: 300 !important;
}

.smallFont{
    font-size: 0.875rem;
    font-weight: 300 !important;
}

.email{
    padding: 3px 0;
}
.email img{
    width: 45px;
    height: 50px;
}
.sendEmailMetadataContainer .field{
    width: 22vw;
}
