.primary-background{
    background-color: #dff1f1;
}
.secondary-icon-style{
    color: #fff8f6;
    background-color: #003862;
}
.button {
    font-family: 'Poppins';
    font-weight: bold;
}
.button:hover {
    color:blue;
    background-color: white;;
}

*{
    font-size: 100%;
}
h1{
    font-size: 101%;
}
.flex{display: flex;}
.justify-end{justify-content: flex-end;}
.justify-between{justify-content: space-between;}
.justify-center{justify-content: center;}
.align-center{align-items: center;}
.left-panel{
    width: 20vw;
    height: 100vh;

    background-color: #DFF1F1;
    position: fixed;
}
.moogle-logo{
    width: 100%;
    height: 15vh;
    margin: 0 auto 60px auto;
}
.moogle-logo img{
    margin: auto 10%;
    width: 80%;
}

.editorBtn{
    outline: none;
    border: none;
    padding: 15px 18px;
    color: #fff;
    border-radius: 50%;
    background: #FF8B88;
    position: absolute;
    bottom: 10vh;
    left: 5vh;
    box-shadow: 4px 4px 10px rgba(0,0,0,0.3);
    cursor: pointer;
}
.emailContainer{
    margin-left: 20vw;
}
.emailContainerHeader{
    width: 100%;
    height: 9vh;
    padding: 2vh 40px;
    box-shadow: 3px 4px 8px rgba(0,0,0,0.2);
    margin: 0 0 0.5vh 0;
}
.emailSearch{
    background: rgba(0,0,0,0.07);
    width: 30%;
    padding: 5px 15px;
    border: none;
    border-radius: 100px;
    outline: none;
}
.emailSearch::placeholder{
    font-family: 'Poppins' , FontAwesome;
}
/* .headerRightElements{ background: #FF8B88;} */
.headerRightElements .element {
    margin: auto 15px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    font-weight: bold;
    cursor: pointer;
}
.headerRightElements .userAvatar{
    background: #FF8B88;
    color: #fff;
    font-size: 18px;
}
.headerRightElements .refreshBtn{
    font-family: 'Poppins' , FontAwesome;
}
.headerRightElements .refreshBtn:hover{
    background: rgba(0,0,0,0.07);
}
#newEmail{
    width: 0.5em;
    height: 0.5em;
    background: red;
    border-radius: 50%;
    position: relative;
    right: 1.7em;
    top: .2em;
}

.normalFont{
    font-weight: 300 !important;
}

.email{
    padding: 3px 0;
}
.email img{
    width: 45px;
    height: 50px;
}
